body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../imgs/weather.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.check {
  background-color: white;
  color: black;
  padding: 40px 100px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -200%);
  -webkit-transform: translate(-50%, -200%);
  -moz-transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -200%);
  -o-transform: translate(-50%, -200%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#info {
  background-color: #000000d0;
  color: white;
  padding: 30px;
  max-width: 480px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#info .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input i {
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.input i#btn2:hover {
  color: dodgerblue;
}

.input i#btn:hover {
  color: indianred;
}

.input input {
  border: none;
  outline: none;
  background: #7c7c7c2b;
  font-family: inherit;
  color: white;
  font-size: 120%;
  padding: 0.5em 1em;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.disc {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
